<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Employee Management System</title>

</head>

<body>
    <div th:replace="template :: template">
    </div>
    <div id="content">
        <table class="table table-bordered table-striped">
            <thead class ="thead-dark">
                <tr>
					<th>Manager Name</th>
					<th>Employee Name</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                <!-- th:each loops over each member of ${employees} list
            tempEmployee is a randomly declared variable used in this html page only, employees is the model attribute made in the EmployeeController -->
                <tr th:each=" temp: ${relations}">
                    <td th:text="${temp.manager_last_name } + ' ' + ${temp.manager_first_name}"></td>
                    <td th:text="${temp.employee_last_name } + ' ' + ${temp.employee_first_name}"></td>
                    <td><a th:href="@{/admin/update_relation(id = ${temp.id})}"
                    class="btn btn-info btn-sm">Update</a>
                    <a th:href="@{/admin/delete_relation(id = ${temp.id})}"
                    class="btn btn-info btn-sm">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>